@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font-family: "Poppins", sans-serif;
    --second-family: "Roboto", sans-serif;

    --color-gray: #414141;;
    --color-white: #FFF;
    --color-dark: #000;
    --color-light-gray: #c5c5c5;
    --color-dark-alt: #212121;
    --color-red: #DE3C3C;
    --color-orange: #ffaa64;

    --transition: .2s linear;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 320px;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: currentColor;
}

ul,
ol{
    list-style-type: none;
}

.container{
    max-width: 1233px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 20px;
}

.images{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.button{
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-red);
    border-radius: 4px;
    padding: 9px 20px;
    font-family: var(--font-family);
    font-size: 13px;
}

.title{
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--color-dark-alt);
}

.subtitle{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    color: var(--color-light-gray);
}

/* Header */

.header{
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 145px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
}

.header__list{
    display: flex;
    column-gap: 61px;
    flex-wrap: wrap;
}

.header__link{
    color: var(--color-gray);
    opacity: .8;
    transition: var(--transition);
}

.header__link:hover{
    opacity: 1;
}

.header__link-button{
    transition: var(--transition);
}

.header__link-button:hover{
    background-color: #fd5b5b;
}


/* banner */

.banner{
    max-width: 1050px;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 180px;
    padding-inline: 20px;
}

.banner__inner{
    display: flex;
    column-gap: 110px;
    flex-wrap: wrap;
}

.banner__title{
    font-size: 24px;
    margin-bottom: 12px;
}

.banner__subtitle{
    font-size: 16px;
    margin-bottom: 30px;
}

.banner__content{
    width: 480px;
}

.banner__button{
    transition: var(--transition);
}

.banner__button:hover{
    background-color: #fd5b5b;
}

/* dignities */

.dignities{
    max-width: 1120px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 20px;
}

.dignities__inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 150px;
}

.dignities__item{
    max-width: 480px;
    max-height: 260px;
}

.dignities__column li:not(.red__card){
    border: 2px solid rgb(197, 197, 197, 15%);
    border-radius: 6px;
}

.item__inner{
    padding: 55px 90px 38px 30px;
}

.dignities__img{
    margin-bottom: 15px;
}

.dignities__item-title{
    margin-bottom: 13px;
    font-size: 18px;
}

.dignities__column .dignities__item:first-child{
    margin-bottom: 130px;
}

.dignities__item.first:nth-child(2){
    margin-bottom: 130px;
}

.dignities__item.second{
    margin-top: 130px;
}

.red__card{
    background-color: var(--color-red);
    border-radius: 6px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.red__card::after{
    content: '';
    max-width: 200px;
    aspect-ratio: 1;
    width: 100%;
    position: absolute;
    top: -87px;
    left: -100px;
    z-index: -1;
    border-radius: 50%;
    opacity: .5;
    background-color: var(--color-orange);
}

.red__card::before{
    content: '';
    max-width: 280px;
    aspect-ratio: 1;
    width: 100%;
    position: absolute;
    top: -100px;
    right: -191px;
    z-index: -1;
    border-radius: 50%;
    opacity: .4;
    background-color: #C00000;
}

.red__card .dignities__item-title, .red__card .dignities__item-subtitle{
    color: var(--color-white);
}

@media (max-width: 1050px) {
    .banner__inner{
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .dignities__inner{
        grid-template-columns: 1fr;
        column-gap: 10px;
    }

    .dignities__item{
        max-width: 100%;
        max-height: 100%;
    }

    .dignities__column .dignities__item:first-child{
        margin-bottom: 80px;
    }
    
    .dignities__item.first:nth-child(2){
        margin-bottom: 80px;
    }
    
    .dignities__item.second{
        margin-top: 80px;
    }
}

@media (max-width: 780px) {
    .header__inner{
        row-gap: 20px;
    }

    .header__list{
        gap: 23px 41px;
    }
}